@font-face {
  font-family: "PermanentMarker";
  src: url(/fonts/PermanentMarker-Regular.ttf) format("truetype");
}

/*Orange button menu*/
.firstbtn {
    background-color:  #f0580d;
    border-color:  #f0580d;
}

body{
  background-image: url(../img/fondo.jpg);
  height: 750px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: PermanentMarker;
}

.mtop{
  margin-top: 30%;
}

#container{
  width: 60%;
  min-width: 300px;
  align-items: center;
}




/*@media only screen and (min-height:5000em){
  body{
    height: 5000em;
  }
}*/

 /* For mobile phones: */
 [class*="col-"] {
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 600px){
  /* For tablets: */
  .bg{
    background-size: cover;
  }
  
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .left {
    width: 40%;
    float: left;
    align-self: inherit;
  }
  .right {
    width: 40%;
    float: right;
    align-self: inherit;
  }
} 

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .bg{
    background-size: cover;
  }
}

@media only screen and (orientation: portrait){
  .bg{
    background-size: cover;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 300px) {
  .bg{
    background-size: cover;
  }
}

/* phones with landscape orientation*/
@media only screen and (orientation: landscape){
  .left {
    width: 40%;
    float: left;
    align-self: inherit;
  }
  .right {
    width: 40%;
    float: right;
    align-self: inherit;
  }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .left {
    width: 40%;
    float: left;
    align-self: inherit;
  }
  .right {
    width: 40%;
    float: right;
    align-self: inherit;
  }
  
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .left {
    width: 40%;
    float: left;
    align-self: inherit;
  }
  .right {
    width: 40%;
    float: right;
    align-self: inherit;
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .left {
    width: 40%;
    float: left;
    align-self: inherit;
  }
  .right {
    width: 40%;
    float: right;
    align-self: inherit;
  }
}
  

