
a.btn-primary {
    background-color:  #f0580d;
    border-color:  #f0580d;
}


/*body, html {
    height: 100%;
  }

#bg {
    // The image used 
    background-image: url('/img/fondo.jpg');
  
    // Half height
    height: 100%;

    
  
    // Center and scale the image nicely 
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }*/
  


